
#fwq{
    position: relative;top: 13%;
}
#right_101{
    position: relative;left: 8%;
}
#wlcs{
    position: relative;top: 35%;
}
#right_201{
    position: relative;left: 5%;
}
#txwg{
    position: relative;top:42%;
}
#right_301{
    position: relative;left: 12%;
}
#cgq{
    position: relative;top:72%;
}
#right_401{
    position: relative;right: 29%;
}
#right_402{
    position: relative;right: 14%;
}
#right_403{
    position: relative;left: 2%;
}
#right_404{
    position: relative;left: 16%;
}
#right_405{
    position: relative;left: 31%;
}